extends layout

block content
    h1= title
    p Play good music with good people.
    <br>
    h3 Login
    div
        form(METHOD='POST' action='/users/login')
            div.form-group
                label(for='userName') User Name
                p
                    input(type='text', id='userName' name='userName' required)
            div.form-group
                label(for='password') Password
                p
                    input(type='password', id='password' name='password' required)
            button(type='submit') Login
    p Not yet a member?  
        a(href='/users/signup') Sign Up Now
